%div
  %div
    %img.h-32.w-full.object-cover.lg:h-48{alt: "", src: "https://images.unsplash.com/photo-1444628838545-ac4016a5418a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"}/
  .mx-auto.max-w-5xl.px-4.sm:px-6.lg:px-8
    .-mt-12.sm:-mt-16.sm:flex.sm:items-end.sm:space-x-5
      .avatar.h-32.w-32
        = render AvatarComponent.new size: "32", src: @user.image, alt: "Profile picture for #{@user.full_name}"
      .mt-6.sm:flex.sm:min-w-0.sm:flex-1.sm:items-center.sm:justify-end.sm:space-x-6.sm:pb-1
        .mt-6.min-w-0.flex-1.sm:hidden.md:block
          %h1.truncate.text-2xl.font-bold.text-gray-900 #{@user.full_name}
        .mt-6.flex.flex-col.justify-stretch.space-y-3.sm:flex-row.sm:space-x-4.sm:space-y-0
          %button.inline-flex.justify-center.rounded-md.bg-white.px-3.py-2.text-sm.font-semibold.text-gray-900.shadow-sm.ring-1.ring-inset.ring-gray-300.hover:bg-gray-50{type: "button"}
            = heroicon "user-plus", options: { class: "h-5 w-5 fill-slate-400" }
            %span Add Friend
    .mt-6.hidden.min-w-0.flex-1.sm:block.md:hidden
      %h1.truncate.text-2xl.font-bold.text-gray-900 #{@user.full_name}
