.flex.items-start.w-full.p-1
  .flex-shrink-0.pt-0.5
    = render AvatarComponent.new user: @friend_request.user, size: "8"
  .ml-3.w-0.flex.flex-col.flex-grow.text-left.items-start
    %p.text-sm.font-medium.text-gray-900 #{@friend_request.user.full_name}
    %p.mt-0.5.text-xs.text-gray-500.w-full Wants to connect
    .mt-1.flex
      = link_to(accept_friend_request_path(@friend_request.id), method: :put, remote: :true, class: 'btn btn-xs btn-circle btn-ghost', id: "accept") do
        %label.sr-only{ for: "accept" } Accept Friend Request
        = heroicon "check-circle", options: { class: "w-6 h-6 text-primary" }
      = link_to(deny_friend_request_path(@friend_request.id), method: :delete, remote: :true, class: 'btn btn-xs btn-circle btn-ghost', id: "decline") do
        %label.sr-only{ for: "decline" } Decline Friend Request
        = heroicon "x-circle", options: { class: "w-6 h-6 text-secondary" }
