= render "users/shared/links"
.relative.overflow-hidden{:class => "w-[375px] h-[812px] bg-[#fefefe]"}
  .flex.flex-col.justify-center.items-center.absolute.left-0.top-0.overflow-hidden{:class => "w-[375px] h-[812px] gap-2.5 px-[76px] py-[117px] bg-[#aac4bf]"}
    .flex.flex-col.justify-center.items-center.flex-grow-0.flex-shrink-0.relative.overflow-hidden{:class => "gap-2.5 p-2.5"}
      .flex-grow-0.flex-shrink-0.h-12.relative{:class => "w-[119px]"}
        %p.absolute.left-0.top-0.font-medium.text-left{:class => "text-[40px] text-[#f2baa9]"} asprin
      %p.flex-grow-0.flex-shrink-0.text-xl.text-left.text-white
        A modern take on old-tech
    .flex.justify-start.items-start.flex-grow-0.flex-shrink-0.overflow-hidden{:class => "gap-2.5 p-2.5"}

      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .flex.flex-col.justify-center.items-center.flex-grow-0.flex-shrink-0.overflow-hidden.px-10.py-4.rounded.bg-white{:class => "w-[295px] gap-2.5", :style => "box-shadow: 0px 4px 4px 0 rgba(0,0,0,0.25);"}
        .flex.justify-start.items-center.self-stretch.flex-grow-0.flex-shrink-0.relative.overflow-hidden.p-2.rounded-sm.bg-white.border{:class => "gap-2.5 border-[#707070]"}
          %p.flex-grow-0.flex-shrink-0.text-base.text-left{:class => "text-[#707070]"} Email
          .form-inputs
            = f.input :email, label: "Email",
              required: false,
              autofocus: true,
              input_html: { autocomplete: "email" }
        .flex.justify-start.items-center.self-stretch.flex-grow-0.flex-shrink-0.relative.overflow-hidden.p-2.rounded-sm.bg-white.border{:class => "gap-2.5 border-[#707070]"}
          %p.flex-grow-0.flex-shrink-0.text-base.text-left{:class => "text-[#707070]"} Password
          = f.input :password, label: "Password",
            required: false,
            input_html: { autocomplete: "current-password" }
        = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .flex.justify-center.items-center.self-stretch.flex-grow-0.flex-shrink-0.relative.overflow-hidden.rounded.border{:class => "gap-2.5 p-1.5 bg-[#ddf09a] border-[#707070]"}
          %p.flex-grow-0.flex-shrink-0.text-base.font-semibold.text-left.text-black
            Log In
        .form-actions
          = f.button :submit, "Log in"
        .flex.justify-center.items-center.self-stretch.flex-grow-0.flex-shrink-0.relative.overflow-hidden.rounded{:class => "gap-2.5 p-1.5"}
          %p.flex-grow-0.flex-shrink-0.text-sm.text-left.text-black Forgot Password
        .flex.flex-col.justify-start.items-start.flex-grow-0.flex-shrink-0.relative.overflow-hidden.py-2{:class => "gap-2.5 px-[120px]"}
          .flex-grow-0.flex-shrink-0.h-1.relative{:class => "w-[134px]"}
            .h-1.absolute{:class => "w-[134px] left-[-0.5px] top-[-0.5px] rounded-[10px] bg-[#1c1b20]/10"}
        .flex.justify-center.items-center.self-stretch.flex-grow-0.flex-shrink-0.relative.overflow-hidden.rounded.border{:class => "gap-2.5 p-1.5 bg-[#f2baa9] border-[#707070]"}
          %p.flex-grow-0.flex-shrink-0.text-base.font-semibold.text-left.text-black
            Create Account
  %svg.absolute.left-0{:class => "w-[375px] h-[34px] top-[778px]", :fill => "none", :height => "34", :preserveaspectratio => "none", :viewbox => "0 0 375 34", :width => "375", :xmlns => "http://www.w3.org/2000/svg"}
    %rect{:fill => "#1C1B20", "fill-opacity" => "0.1", :height => "5", :rx => "2.5", :width => "134", :x => "120", :y => "21"}
