.navbar.bg-base-100
  .flex-1
    %a.btn.btn-ghost.normal-case.text-xl.sm:invisible.md:visible.hover:bg-gray-500{ href: "/"  }
      = heroicon "home", options: { class: "sm:visible md:invisible md:hidden h-10 mx-auto w-auto" }
      = image_tag "asprin.gif", class: "mx-auto w-auto h-10 invisible md:visible"
  - if user_signed_in?
    .flex-none.gap-2
      = render SearchFormComponent.new
      %label.sr-only{ for: "notifications" } Notifications
      %button.dropdown.dropdown-end.indicator#notifications
        %turbo-frame{ id: "all_notifs", src: "/notifications/feed" }
          = heroicon "bell", options: { class: "h-8 w-8" }
      %label.sr-only{ for: "profile" } Profile
      .dropdown.dropdown-end#profile
        .btn.btn-ghost.btn-circle.avatar{:tabindex => "0"}
          = render AvatarComponent.new src: current_user.image, alt: "Profile for #{current_user.full_name}"
        %ul.mt-3.p-2.shadow.menu.menu-compact.dropdown-content.bg-base-100.rounded-box.w-52{:tabindex => "0"}
          %li
            %p.text-bold.text-sm Signed in as #{current_user.email}
          %li
            %a{ href: edit_profile_path } Profile
          %li
            %a.justify-between{ href: edit_user_registration_path }
              Account Settings
          %li
            %a{ href: destroy_user_session_path } Logout
  - else
    - unless controller_name == 'registrations'
      %a.btn{ href: new_user_registration_path } Sign up
    - unless controller_name == 'sessions'
      %a.btn{ href: new_user_session_path } Log in
