= render PanelComponent.new bg_color: "bg-slate-50" do
  .flex.min-h-full.flex-col
    .mx-auto.flex.flex-col.lg:flex-row.w-full.max-w-7xl.items-start.gap-x-8.px-4.py-1.sm:px-6.lg:px-8
      = render ColumnComponent.new type: "main" do
        %h1.text-black.font-bold.text-2xl.lg:text-4xl.text-slate-700 Your feed
        = render partial: "posts/form"
        = render partial: "posts/feed", locals: { posts: @posts }
      = render ColumnComponent.new type: "aside" do
        = render partial: "friends/list", locals: { friends: @friends}
