!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Asprin
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application" , "data-turbo-track": "reload"
    = javascript_include_tag "application", defer: true
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github-dark.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"}
  %body
    :javascript
      hljs.highlightAll();
    = turbo_frame_tag :flash, id: "flash", class: "divide-y divide-gray-300 space-y-3 fixed top-5 left-5"
    - flash.each do |type, msg|
      - type = :notice if type = "notice"
      = render partial: "shared/flash", locals: { type: type, message: msg }
    = render 'shared/navbar'
    = yield
